[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-6.0.x.cfg
  https://dist.plone.org/release/6.0.6/versions.cfg
extensions = mr.developer
package-name = collective.redirectacquired
package-extras = [test]

parts += omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[instance]
eggs = collective.redirectacquired
zope-conf-additional = <product-config collective.redirectacquired>
  redirect True
  </product-config>
