include *.rst
recursive-include docs *
recursive-include collective *
global-include *.mo
global-exclude *pyc *~
exclude bootstrap.py
exclude buildout.cfg
exclude travis.cfg
prune parts
exclude .DS_Store
