include *.rst
recursive-include docs *
recursive-include collective *
global-include *.mo
global-exclude *pyc *~
exclude buildout.cfg
exclude requirements.txt
prune parts
recursive-exclude * .DS_Store
